/*En-tête*/
header {
    background-color: rgb(245, 231, 237);
    padding: 20px; /*espace autour du texte*/
    text-align: center;
}

nav{
    text-align: center;
}

/* Enlever les puces de la liste */
nav ul {
    list-style-type: none; 
    padding: 0;
    text-align: center;
}

/* Pour aligner les éléments horizontalement (en ligne) */
nav ul li {
    display: inline-block;
    margin-right: 30px;
}

#logo{
    width: 60px;
    margin-bottom: 30px;
}

/* Style pour les liens */
nav ul li a {
    text-decoration: none;  /* Enlève le souligné des liens */
    color: rgb(168, 41, 100);     
}

/*Main*/
main{
    text-align: justify;
    padding: 100px;
}

 /*Heading*/
h1,h2,h3,h4,h5,h6{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

h1{
    color: rgb(168, 41, 100);
}

h2,h3{
    color: rgb(203, 105, 150);
}

h4,h5,h6{
    color: rgb(207, 139, 171);
}

/*Paragraphe*/
p{
    text-indent :30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
}
ul>li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5px;
}

aside {
    background-color: rgba(245, 231, 237, 0.3);
    padding: 15px;
    border-left: 4px solid rgb(168, 41, 100);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*id*/
#mini-site {
    color: rgb(207, 139, 171);
    font-size: 18px;
    text-align: center;
    font-style: italic;
}

/* Mettre en valeur les sections */
section {
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(245, 231, 237, 0.4);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

/* Mise en page pour la section "Me contacter" */
section ul li {
    margin-bottom: 10px;
    text-align: justify;
}

strong{
    color: rgb(168, 41, 100);
}

/* Section avec une image */
figure {
    text-align: center;
    margin-top: 20px;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
    color: rgb(168, 41, 100);
}

/*Bouton dans compétences*/
button a {
    text-decoration: none;
    color: white; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 20px;
}
button{    
    background-color: rgb(203, 105, 150);
    border: none;
    border-radius: 5px;}

button:hover{
    background-color: rgb(207, 139, 171)
}

/*Tableau des langues*/
table {
    width:50%;
    margin: auto; 
    border-collapse: collapse; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  
th, td {
    padding: 10px; 
    text-align: center; 
}
    
th {
    background-color: rgb(168, 41, 100);
    color: white; 
}
td{
    background-color: white;
    color:rgb(168, 41, 100);
}
table>caption{
    caption-side: bottom;
    font-size: x-small;
    color:rgb(207, 139, 171);
}
    
/*Pied de page*/
footer{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color:rgb(245, 231, 237) ;
    text-align: center;
}